<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" /><!--二级缓存 默认是关闭的 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="agreessiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.jiagouedu.pojo.User" alias="user"></typeAlias>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.jiagouedu.typehandlers.DateTypeHandler" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </typeHandlers>
    <objectFactory type="com.jiagouedu.objectfactory.CartObjectFactory"/>



    <mappers>
      <mapper resource="mybatis/UserMapper.xml"/>
      <mapper resource="mybatis/CustomerMapper.xml"/>
      <mapper resource="mybatis/ProductMapper.xml"/>
    </mappers>
</configuration>